:root {
  --color1: #fbe4d8;
  --color2: #dfb6b2;
  --color3: #854f6c;
  --color4: #522b5b;
  --color5: #190019;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
}