:root {
  --color1: #fbe4d8;
  --color2: #dfb6b2;
  --color3: #854f6c;
  --color4: #522b5b;
  --color5: #190019;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 70vw;
  border: 15px solid var(--color5);
  border-radius: 80px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--color1);
}

#root{
  width: 90%;  
  display: flex;
  flex-direction: column;
  align-items: center;
}