:root {
  --color1: #fbe4d8;
  --color2: #dfb6b2;
  --color3: #854f6c;
  --color4: #522b5b;
  --color5: #190019;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  display: flex;
}

#root{
  display: flex;
  justify-content: center;
}

html {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color1);
  background-color: black;
}

body {
  background-color: #854f6c;
  width: 50%;
  border: 15px solid var(--color1);
  border-radius: 20px;
}

.appContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}