.prodFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: var(--color2);
  border-radius: 10px;
}
.prodSubmit {
  margin: 50px;
  width: 150px;
  height: 80px;
  font-size: xx-large;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.prodInput {
  background-color: var(--color1);
  width: 400px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  padding: 1rem;
}
.prodInputBar {
  border: none;
  height: 50%;
  width: 50%;
  text-align: center;
}
.prodSubmit:hover {
  scale: 120%;
  transition: 0.3s;
}

.modalOverlay{
  border: 2px solid black;
  position: absolute;
  top: 50%;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  text-align: center;
}

.select{
  cursor: pointer;
}

.select:hover{
  scale: 110%;
  transition: .5s;
}