.dashBackgroundContainer {
  background-color: #854f6c;
  border: 15px solid var(--color1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 60vw;
}
.dashFormContainer {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 85%;
  background-color: #474b4e;
  width: 50%;
  position: relative;
}
.dashOptions {
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  border: none;
}
.dashOptionsButton{
  background-color: #474b4e;
  border: none;
  cursor: pointer;
  color: var(--color1);
} 
.loginForm {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 5%;
  bottom: 1%;
}
.registrateForm{
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 5%;
}
.dashOptionsButton.active {
  border-bottom: 2px solid #000;
}
.notForm {
  display: none;
}
.showForm {
  display: block;
}
.input {
  width: 100%;
  height: 30px;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 7px;
  border: none;
  padding-left: 10px;
}
.dashSubmitLogin{
  width: 100%;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  background-color: #dfb6b2;
  margin-top: 20.2%;
}
.submitRegister{
  width: 100%;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  background-color: #dfb6b2;
  margin-top: 10%;
}
