* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainFont {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .playwrite-vn-title {
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  :root {
    --color1: #fbe4d8;
    --color2: #dfb6b2;
    --color3: #854f6c;
    --color4: #522b5b;
    --color5: #190019;
  }
  html{
    background-color: black;
  }
  .backgroundContainer {
    background-color: var(--color3);
    height: 400px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formContainer {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 85%;
    background-color: #474b4e;
    width: 50%;
    position: relative;
  }
  .title {
    font-size: 40px;
    position: absolute;
    left: 10%;
    color: var(--color5)
  }
  .options {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    border: none;
  }
  .optionsButton{
    background-color: #474b4e;
    border: none;
    cursor: pointer;
    color: var(--color1);
  } 
  .form {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 15%;
    bottom: 5%;
  }
  .input {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    padding: 5px;
    margin-bottom: 7px;
    border: none;
    padding-left: 10px;
  }
  .submitLogin{
    width: 100%;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    background-color: #dfb6b2;
    margin-top: 28%;
  }
  .submitRegister{
    width: 100%;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    background-color: #dfb6b2;
    margin-top: 10%;
  }
  .optionsButton.active {
    border-bottom: 2px solid #000;  /* Puedes cambiar el color del borde */
  }
  .form {
    display: none;
  }
  .showForm {
    display: block;
  }