.orderContainer{
    border: 1px solid black;
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.options{
    border: 1px solid black;
    display: flex;
    height: 80%;
}