.homePageContainer{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.homePageOptionsColumn{
    border: 1px solid var(--color1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.homePageButton{
    border: 2px solid var(--color5);
    margin: 1rem;
    width: 270px;
    height: 60px;
    font-size: 140%;
    background-color: var(--color1);
    color: var(--color5);
    border-radius: 20px;
    cursor: pointer;
}
.homePageButton:hover{
    background-color: var(--color5);
    color: var(--color1);
    scale: 108%;
    transition: .5s;
    border: 2px solid var(--color1);
}
