/* .title{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 250%;
  color: var(--color1);
  text-shadow: 2px 2px 5px var(--color4);
}

.playwrite-vn-title {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
} */