.title{
  /* border: 1px solid black; */
  text-align: center;
  margin: 1rem;
  font-size: 80px;
}

.playwrite-vn-title {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}