.navbar {
  border: 5px solid var(--color5);
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: none;
  border-right: none;
  width: 100%;
}

.navbar-link {
  height: 80%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  color: var(--color5);
}

.navbar-link:hover{
  background-color: var(--color2);
  transition: 0.8s;
}